@model ManageUserViewModel

@{
    ViewData["Title"] = "Správa uživatele";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Manage" asp-action="ManageUser" method="post" class="form-horizontal">
    <h4>Uživatel</h4>
    <hr />
    <input type="hidden" asp-for="ID" />
    <input type="hidden" asp-for="UserName" />
    <div class="form-group">
        @Model.UserName
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <input asp-for="IsRegistered" />
                <label asp-for="IsRegistered"></label>
            </div>
            <div class="checkbox">
                <input asp-for="IsMember" />
                <label asp-for="IsMember"></label>
            </div>
            <div class="checkbox">
                <input asp-for="IsAdministrator" />
                <label asp-for="IsAdministrator"></label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Uložit" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    <a asp-action="UsersList">Zpět na seznam</a>
</div>
