﻿@{
    ViewData["Title"] = "Potvrzení emailu";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Děkujeme za potvrzení emailu. <a asp-controller="Account" asp-action="Login">Můžete se přihlásit kliknutím sem</a>.
    </p>
</div>
