﻿@{
    ViewData["Title"] = "Potvrzení resetu hesla";
}

<h1>@ViewData["Title"].</h1>
<p>
    vaše heslo bylo resetováno. Pro přihlášení <a asp-controller="Account" asp-action="Login">klikněte zde</a>.
</p>
