@model Ferman.Models.Role

@{
    ViewData["Title"] = "Detail";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Casts)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Herec</th>
                </tr>
                @foreach (var item in Model.Casts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Person.FLName)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Upravit</a> |
    <a asp-controller="Casts" asp-action="Index" asp-route-id="@Model.ID">Upravit obsazení</a> |
    <a asp-action="Index" asp-route-id="@Model.StagingID">Zpět na seznam</a>
</div>
