@model Ferman.Models.Performance

@{
    ViewData["Title"] = "Smazání";
}

<h2>@ViewData["Title"]</h2>

<h3>Opravdu chcete toto představení odebrat?</h3>
<div>
    <h4>Představení</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Staging.Play.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.Play.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartsIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartsIn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Smazat" class="btn btn-default" /> |
            <a asp-action="Index">Zpět na seznam</a>
        </div>
    </form>
</div>
