@model Ferman.Models.Performance

@{
    ViewData["Title"] = "Detail";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Představení</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Staging.Play.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staging.Play.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartsIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartsIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alternations)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Role</th>
                    <th>Herec</th>
                </tr>
                @foreach (var item in Model.Alternations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cast.Role.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cast.Person.FLName)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Upravit</a> |
    <a asp-action="Index">Zpět na seznam</a>
</div>
