@model Ferman.Models.Performance

@{
    ViewData["Title"] = "Úprava představení";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Představení</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="StagingID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="StagingID" class="form-control" asp-items="ViewBag.StagingID"></select>
                <span asp-validation-for="StagingID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartsIn" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.StartsInFormat, new { type = "datetime-local", @class = "form-control" })
                <span asp-validation-for="StartsIn" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="cfs" class="col-md-2 control-label">Alternace</label>
            </div>
            <div id="cfs">
                @for (var i = 0; i < ViewBag.Roles.Count; i++)
                {
                    <div class="row">
                        <label for="casts[@i]" class="col-md-2 control-label">@ViewBag.Roles[i].Name</label>
                        <div class="col-md-10">
                            <select class="form-control valid" data-val="true" id="casts[@i]" name="casts[@i]">
                                @foreach (Cast cast in ViewBag.Roles[i].Casts)
                                {
                                    @if (Model.CastIsSelected(cast.ID, ViewBag.Alts))
                                    {
                                        <option value="@cast.ID" selected>@cast.Person.LFName</option>
                                    }
                                    else
                                    {
                                        <option value="@cast.ID">@cast.Person.LFName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Uložit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Zpět na seznam</a>
</div>

@section Scripts {
    <script>
        $('#StagingID').on('change', function () {
            var stid = this.value;
            $.ajax({
                type: "GET",
                url: "/Performances/CastsForStaging",
                data: "id=" + stid,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });

            function successFunc(data, status) {
                var result = "";
                var i;
                for (i = 0; i < data.length; i++) {
                    result += '<div class="row">';
                    result += '<label for="casts[' + i + ']" class="col-md-2 control-label">' + data[i].name + '</label>';
                    result += '<div class="col-md-10">';
                    result += '<select class="form-control valid" data-val="true" id="casts[' + i + ']" name="casts[' + i + ']">';
                    var j;
                    for (j = 0; j < data[i].casts.length; j++) {
                        result += '<option value="' + data[i].casts[j].id + '">' + data[i].casts[j].pname + '</option>';
                    }
                    result += '</select>';
                    result += '</div>';
                    result += '</div>';
                }

                $('#cfs').html(result);
            }

            function errorFunc() {
                $('#cfs').html("<p>Nepodařilo se načíst obsazení pro danou inscenaci.</p>");
            }
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
