@model IEnumerable<Ferman.Models.Performance>

@{
    ViewData["Title"] = "Představení";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Přidat představení</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staging.Play.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartsIn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Staging.Play.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartsIn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Upravit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detail</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>
