@model IEnumerable<Ferman.Models.Staging>

@{
    ViewData["Title"] = "Přehled";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Představení</h4>
    <hr />
    <div class="row">
        <label for="stagingSelector" class="col-md-2 control-label">Inscenace</label>
        <select class="form-control valid col-md-10" data-val="true" id="stagingSelector" name="stagingSelector">
            @foreach (Staging staging in Model)
            {
                <option value="@(staging.ID)">@(staging.Play.Name)</option>
            }
        </select>
    </div>

    <div class="row" id="performancesTable">

    </div>
</div>

@section Scripts {
    <script>
        $('#stagingSelector').on('change', function () {
            var stid = this.value;
            $.ajax({
                type: "GET",
                url: "/Performances/OverviewItem",
                data: "id=" + stid,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });

            function successFunc(data, status) {
                var result = '<table class="table"><tr><th></th>';
                var i;
                if (typeof data == 'undefined') {
                    $('#performancesTable').html("");
                    return;
                }

                for (i = 0; i < data.roles.length; i++) {
                    result += '<th>' + data.roles[i] + '</th>';
                }
                result += '</tr>';

                for (i = 0; i < data.performances.length; i++) {
                    result += '<tr>';
                    result += '<th>' + data.performances[i].whenwhere + '</th>';
                    var j;
                    for (j = 0; j < data.performances[i].alternations.length; j++) {
                        result += '<td>' + data.performances[i].alternations[j] + '</td>';
                    }
                    result += '</tr>';
                }

                result += '</table>';

                $('#performancesTable').html(result);
            }

            function errorFunc() {
                $('#performancesTable').html("<p>Nepodařilo se načíst představení pro danou inscenaci.</p>");
            }
        });
    </script>
}