﻿@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Správce:</strong> <a href="mailto:krizekmartin@gmail.com">krizekmartin@gmail.com</a>
</address>
