﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Ferman</h1>
</div>
<div class="row">
    <h2>Vítejte</h2>
    <p>Tyto stránky slouží pro přehled o hraných inscenacích. Konkrétních termínech hraní a alternací.</p>
</div>