@model Ferman.Models.Play

@{
    ViewData["Title"] = "Detail";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Hra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Writer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Writer.FLName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Playwright)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Playwright.FLName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stagings)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Režisér</th>
                    <th>Premiéra</th>
                </tr>
                @foreach (var item in Model.Stagings)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Director.FLName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Premiere)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Upravit</a> |
    <a asp-action="Index">Zpět na seznam</a>
</div>
