@model Ferman.Models.Play

@{
    ViewData["Title"] = "Úprava hry";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Hra</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WriterID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="WriterID" class="form-control" asp-items="ViewBag.WriterID"></select>
                <span asp-validation-for="WriterID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PlaywrightID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="PlaywrightID" class="form-control" asp-items="ViewBag.PlaywrightID"></select>
                <span asp-validation-for="PlaywrightID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Uložit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Zpět na seznam</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
