@model Ferman.Models.Person

@{
    ViewData["Title"] = "Smazaní";
}

<h2>@ViewData["Title"]</h2>

<h3>Opravdu chcete tohoto člověka odebrat?</h3>
<div>
    <h4>Člověk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsMember)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsMember)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Smazat" class="btn btn-default" /> |
            <a asp-action="Index">Zpět na seznam</a>
        </div>
    </form>
</div>
