@model Ferman.Models.Person

@{
    ViewData["Title"] = "Detail";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Člověk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsMember)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsMember)
        </dd>
        @if (Model.Casts.Any())
        {
            <dt>
                @Html.DisplayNameFor(model => model.Casts)
            </dt>
            <dd>
                <table class="table">
                    <tr>
                        <th>Inscenace</th>
                        <th>Role</th>
                    </tr>
                    @foreach (var item in Model.Casts)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role.Staging.Play.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role.Name)
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        }
        @if (Model.Stagings.Any())
        {
            <dt>
                @Html.DisplayNameFor(model => model.Stagings)
            </dt>
            <dd>
                <table class="table">
                    <tr>
                        <th>Incenace</th>
                    </tr>
                    @foreach (var item in Model.Stagings)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Play.Name)
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        }
        @if (Model.Written.Any())
        {
            <dt>
                @Html.DisplayNameFor(model => model.Written)
            </dt>
            <dd>
                <table class="table">
                    <tr>
                        <th>Hra</th>
                    </tr>
                    @foreach (var item in Model.Written)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        }
        @if (Model.Playwrighten.Any())
        {
            <dt>
                @Html.DisplayNameFor(model => model.Playwrighten)
            </dt>
            <dd>
                <table class="table">
                    <tr>
                        <th>Hra</th>
                    </tr>
                    @foreach (var item in Model.Playwrighten)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Upravit</a> |
    <a asp-action="Index">Zpět na seznam</a>
</div>
