@model Ferman.Models.Staging

@{
    ViewData["Title"] = "Přidání inscenace";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Inscenace</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PlayID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PlayID" class="form-control" asp-items="ViewBag.PlayID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DirectorID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DirectorID" class="form-control" asp-items="ViewBag.DirectorID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Premiere" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Premiere" class="form-control" />
                <span asp-validation-for="Premiere" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Derniere" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Derniere" class="form-control" />
                <span asp-validation-for="Derniere" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Přidat" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Zpět na seznam</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
