@model Ferman.Models.Staging

@{
    ViewData["Title"] = "Smazání";
}

<h2>@ViewData["Title"]</h2>

<h3>Opravdu chcete odebrat tuto inscenaci?</h3>
<div>
    <h4>Inscenace</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Play.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Play.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Director.FLName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Premiere)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Premiere)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Derniere)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Derniere)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Smazat" class="btn btn-default" /> |
            <a asp-action="Index">Zpět na seznam</a>
        </div>
    </form>
</div>
