@model Ferman.Models.Staging

@{
    ViewData["Title"] = "Detail";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Inscenace</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Play.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Play.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Director.FLName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Premiere)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Premiere)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Derniere)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Derniere)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Role</th>
                    <th>Herec</th>
                </tr>
                @foreach (var item in Model.Roles)
                {
                    @foreach (var casts in item.Casts)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => casts.Person.FLName)
                            </td>
                        </tr>
                    }
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Upravit</a> |
    <a asp-controller="Roles" asp-action="Index" asp-route-id="@Model.ID">Upravit role</a> |
    <a asp-action="Index">Zpět na seznam</a>
</div>
