@model Ferman.Models.Staging

@{
    ViewData["Title"] = "Úprava inscenace";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Inscenace</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="PlayID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="PlayID" class="form-control" asp-items="ViewBag.PlayID"></select>
                <span asp-validation-for="PlayID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DirectorID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="DirectorID" class="form-control" asp-items="ViewBag.DirectorID"></select>
                <span asp-validation-for="DirectorID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Premiere" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Premiere" class="form-control" />
                <span asp-validation-for="Premiere" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Derniere" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Derniere" class="form-control" />
                <span asp-validation-for="Derniere" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Uložit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Zpět na seznam</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
