@model IEnumerable<Ferman.Models.Staging>

@{
    ViewData["Title"] = "Inscenace";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Přidat inscenaci</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Play.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premiere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Derniere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Play.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Premiere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Derniere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director.FLName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Upravit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detail</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>
