@model Ferman.Models.Cast

@{
    ViewData["Title"] = "Přidání obsazení";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Obsazení</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PersonID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PersonID" class ="form-control" asp-items="ViewBag.PersonID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RoleID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="RoleID" class ="form-control" asp-items="ViewBag.RoleID"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Přidat" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.RoID">Zpět na seznam</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
