@model Ferman.Models.Cast

@{
    ViewData["Title"] = "Detail";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Obsazení</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alternations)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Místo</th>
                    <th>Čas</th>
                </tr>
                @foreach (var item in Model.Alternations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Performance.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Performance.StartsIn)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Upravit</a> |
    <a asp-action="Index" asp-route-id="@Model.RoleID">Zpět na seznam</a>
</div>
