@model Ferman.Models.Cast

@{
    ViewData["Title"] = "Úprava obsazení";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Obsazení</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="PersonID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="PersonID" class="form-control" asp-items="ViewBag.PersonID"></select>
                <span asp-validation-for="PersonID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RoleID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="RoleID" class="form-control" asp-items="ViewBag.RoleID"></select>
                <span asp-validation-for="RoleID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Uložit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.RoID">Zpět na seznam</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
