@model IEnumerable<Ferman.Models.Cast>

@{
    ViewData["Title"] = "Obsazení";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.RoID">Přidat obsazení</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.FLName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Upravit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Detail</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Smazat</a>
                </td>
            </tr>
        }
    </tbody>
</table>
